.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/*.vsix
**/.vscode-test.*
.vscode
node_modules
tsconfig.json
webpack.config.js
esbuild.js
